:root {
  --battleship-grey: #858786ff;
  --jet: #2d2e2eff;
  --smoky-black: #0f0f0fff;
  --honeydew: #d9f0fc;
  --cg-blue: #227c9dff;
  --task-color: #b5e2fa;
}

textarea {
  resize: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: var(--battleship-grey);
  grid-row: 1;
}

.container {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 100vh;
}

.head {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 100%;
  box-sizing: border-box;
}

.head > div > button {
  border: none;
  background-color: var(--battleship-grey);
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.body-container {
  display: flex;
  transition: 1000ms ease;
  grid-row: 2;
}

.title {
  height: 20px;
  width: 100%;
  display: grid;
  place-content: center;
  font-family: "Yellowtail", cursive;
  font-size: xx-large;
  color: white;
}

.sidebar {
  flex: 0 0 15%;
  height: 100%;
  background-color: var(--task-color);
  transition-property: all;
  transition: 200ms ease;
  width: 0;
  padding: 1rem;
  box-sizing: border-box;
}

.sidebar > * {
  transition: all 200ms ease;
}

.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.4px grey solid;
}

.projects > div > button {
  border: none;
  background-color: var(--task-color);
  cursor: pointer;
  font-size: 30px;
  color: black;
}

.project {
  margin-bottom: 5px;
  transition: all 200ms ease;
}

.project-create-container {
  transition: all 200ms ease;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#project-name {
  border: none;
  margin-bottom: 10px;
}

#project-create,
#project-cancel {
  border: none;
  width: 80px;
  height: 30px;
  background-color: black;
  color: white;
  font-weight: bold;
}

#project-cancel {
  background-color: #8b0000;
}

.project-button-div {
  display: flex;
  gap: 5px;
}

#project-create .project:hover,
#home:hover {
  margin-bottom: 5px;
  text-decoration: underline;
  transform: translateY(-2px);
  cursor: pointer;
}

#project-create:hover,
#project-cancel:hover {
  cursor: pointer;
  background-color: var(--battleship-grey);
}

.selected {
  text-decoration: underline;
  font-weight: bold;
}

.content {
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1;

  height: 100%;
  transition-property: grid;
  transition: all 200ms ease;

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  overflow-y: scroll;

  flex-direction: column;
}

.task-container {
  background-color: var(--honeydew);
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  flex-grow: 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.task-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.task-right > input {
  width: 20px;
  height: 20px;
}

.task-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  gap: 1rem;
}

#task-desc {
  height: 300px;
  border: none;
  font-family: "Open Sans", sans-serif;
}

#task-desc:focus {
  transition: all 100ms;
  background-color: var(--honeydew);
  outline-width: 0;
  border: 0;
}

.task-create {
  visibility: hidden;
  position: absolute;
  width: 600px;
  height: fit-content;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--task-color);
  z-index: 2;
  padding: 1rem;
  box-sizing: border-box;
}

.task-create > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.task-create > div > input {
  height: 30px;
  border: 0;
}

#create-task {
  border: none;
  width: 80px;
  height: 30px;
  background-color: black;
  color: white;
  font-weight: bold;
}

#create-task:hover {
  cursor: pointer;
  background-color: var(--battleship-grey);
}

.task-create-header {
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
}

#create-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2px gray solid;
  padding-bottom: 10px;
}

.task-left > div > button {
  border: none;
  background-color: var(--honeydew);
  cursor: pointer;
  font-size: 30px;
  color: black;
}

.exit-button {
  border: none;
  background-color: var(--task-color);
  cursor: pointer;
  font-size: 30px;
  color: black;
}

input:focus {
  transition: all 100ms;
  background-color: var(--honeydew);
  outline-width: 0;
  border: 0;
}

.test {
  visibility: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
}

.prio-card {
  height: 30px;
  width: 80px;
  font-size: large;
  font-weight: bolder;
  border-radius: 5px;
  color: white;
  display: grid;
  place-items: center;
  cursor: default;
  padding: 5px;
}

.normal {
  background-color: orange;
}

.high {
  background-color: red;
}

.low {
  background-color: green;
}

input[type="radio"] {
  /* appearance: none; */
}

.task-details-container {
  visibility: hidden;
  position: absolute;
  width: 600px;
  height: fit-content;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--task-color);
  z-index: 2;
  padding: 1rem;
  box-sizing: border-box;
}

.details-top {
  border-bottom: 0.2px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-weight: bold;
}

.details-buttons > div > button {
  border: none;
  background-color: var(--task-color);
  cursor: pointer;
  font-size: 30px;
  color: black;
}

.details-buttons {
  display: flex;
}

.desc-container {
  padding: 10px;
  margin-bottom: 1rem;
}

.desc-label {
  border-bottom: 0.2px solid grey;
  font-weight: 600;
  margin-bottom: 10px;
}

.date-container {
  margin-bottom: 1rem;
  padding-left: 10px;
}

.date-label {
  font-weight: 600;
  border-bottom: 0.2px solid grey;
  margin-bottom: 10px;
}

.details-prio {
  padding-left: 10px;
}

.prio-label {
  border-bottom: 0.2px solid grey;
  margin-bottom: 10px;
}

.task-edit {
  visibility: hidden;
  position: absolute;
  width: 600px;
  height: fit-content;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--task-color);
  z-index: 2;
  padding: 1rem;
  box-sizing: border-box;
}

.task-edit > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.task-edit > div > input {
  height: 30px;
  border: 0;
}

#edit-task {
  border: none;
  width: 80px;
  height: 30px;
  background-color: black;
  color: white;
  font-weight: bold;
}

#edit-task:hover {
  cursor: pointer;
  background-color: var(--battleship-grey);
}

.edit-create-header {
  font-weight: 500;
  font-size: 20px;
  box-sizing: border-box;
}

#edit-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.2px gray solid;
  padding-bottom: 10px;
}

.edit-exit-button {
  border: none;
  background-color: var(--task-color);
  cursor: pointer;
  font-size: 30px;
  color: black;
}

#edit-desc {
  height: 300px;
  border: none;
  font-family: "Open Sans", sans-serif;
}
